<?xml version="1.0" encoding="utf-8"?>

<!--
  Copyright (C) 2016 Ordnance Survey
  Copyright (C) 2016 The Android Open Source Project
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.os.search.android.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".StrictApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name" android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="uk.os.search.android.app.SearchActivity">

            <!--
            <meta-data android:name="opennames"
                android:value="your api key" />

            <meta-data android:name="places"
                android:value="your api key" />
            -->

        </activity>

        <provider
            android:name="uk.os.search.android.recentmanager.impl.provider.content.RecentsProvider"
            android:authorities="uk.os.search.android.demo.recents"
            android:exported="false" />

    </application>

</manifest>